* {
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    font-family: Baloo, cursive;
    overflow-x: hidden;
}

img {
    max-width:100%;

}
/* section {
    height:100vh;
} */

.btn {
    position:absolute;
    z-index:2;
    margin-top: 180px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.button-zone {

    display: flex;
    justify-content: center;
}

.inactive {
    display:none
}

h1 {
    text-align:center;
    position: relative;
    z-index: 1111;
   }

.left-screen-blank {
    width: 50%;
    min-height: 100vh;
    position: absolute;
    left:0px; top:0px;
    cursor: w-resize;
    background-color: tomato;
    z-index: 1;
}   

.right-screen-blank {
    width: 50%;
    min-height: 100vh;
    position: absolute;
    right:0px; top:0px;
    cursor: e-resize;
    background-color: teal;
    z-index: 1;
} 

.stackedcards {
    height:60vh;
    width: 30%;
    position: relative;
    z-index: 1111;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    pointer-events:none;
}   

h3 {
    position: relative;
    margin-top:40vh;
    text-align:center;
    z-index: 1113  
}
.firstCard {
    height:60vh;
    margin:12vh auto;
    position: absolute;
    z-index: 1111
}

.secondCard {
    /* width:95%; */
    height:95%;
    margin:12vh auto;
    position: absolute; top:-1em; 
    z-index: 1110
}

.thirdCard {
    /* width:90%; */
    height:90%;
    align-self:right;
    margin:12vh auto;
    position: absolute; top:-2em;
    z-index: 1109
}

.fourthCard {
    /* width:85%; */
    height:85%;
    margin:12vh auto;
    position: absolute; top:-3em; 
    z-index: 1108
}

.background-text {
    font-size: 200%;
    margin-top: 50vh;
    text-align: center
}


/*ANIMATIONS*/

@keyframes swipeRight {
    0% {
    margin-left: 0;  
    transform: rotate(0deg);
    animation-timing-function: ease-in;
    }

    30% {
        margin-left: 100%;
        transform: rotate(20deg);
        animation-timing-function: ease-out;
        }
  
    100% {
    margin-left: 500%;
    transform: rotate(45deg);
    }
  }

  @keyframes swipeLeft {
    0% {
    margin-right: 0;  
    transform: rotate(0deg);
   animation-timing-function: ease-in;
    }

    30% {
    margin-left: -100%;
    transform: rotate(-20deg);
   animation-timing-function: ease-out;
    }
  
    100% {
    margin-left: -500%;
    transform: rotate(-45deg);
    }
  }

  .swipeRight {
    height:60vh;
    margin:12vh auto;
    position: absolute;
    z-index: 1111;
    animation-name: swipeRight;
    animation-duration: 0.3s;
  }

  .swipeLeft {
    height:60vh;
    margin:12vh auto;
    position: absolute;
    z-index: 1111;
    animation-name: swipeLeft;
    animation-duration: 0.3s;
  }