* {
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    font-family: Baloo, cursive;
    overflow-x: hidden;
   
}

img {
    max-width:100%;

}

section {
    position: relative;
    height:100vh;
}

#main-page {
    max-width: 100%;
    padding:0;
}

#results-page {
    background-image: url(images/background/results-bird-169.jpg);
    background-size: cover;
}

header {
    padding-bottom:50px;
}

h1 {
    margin: 30px auto;
    padding: 10px 20px;
    width:50vw;
    height: 80px;
    text-align:center;
    position: relative;
    z-index: 1111;
    font-size: 2.5em;
    display:block;
    background:white;
    border: 3px solid purple;
    color:purple;
}


.btn {
    width:20vw;
    height: 50px;
    text-align:center;
    padding: 5px 10px;
    text-transform: uppercase;
    display:block;
    background:white;
    border: 3px solid purple;
    color:purple;
    font-size:1em;
    font-family: Baloo, cursive;
}

.button-zone {
    display: flex;
    justify-content: center;
}

#stopPlaying {
    position:absolute;
    bottom: 80px;
    z-index:2;
    
}

.inactive {
    display:none
}



.left-screen-background {
    width: 50%;
    min-height: 100vh;
    position: fixed;
    left:0px; top:0px;
    cursor: w-resize;
    background-image: url(images/background/2-birds-background-130-left.jpg);
    background-size: cover;
    backdrop-filter: red(100%);
    z-index: 1;
}   

.right-screen-background {
    width: 50%;
    min-height: 100vh;
    position: fixed;
    right:0px; top:0px;
    cursor: e-resize;
    background-image: url(images/background/2-birds-background-130-right.jpg);
    background-size: cover;
    z-index: 1;
} 

.left-screen-blank {
    width: 50%;
    min-height: 100vh;
    position: fixed;
    left:0px; top:0px;
    cursor: w-resize;
    z-index: 1;
    opacity: 0;
}   

.right-screen-blank {
    width: 50%;
    min-height: 100vh;
    position: fixed;
    right:0px; top:0px;
    cursor: e-resize;
    z-index: 1;
    opacity: 0;
} 

.cards-container {
    margin-top:30px;
    height:60vh;    
}

.stackedcards {
    width: 30%;
    position: relative;
    z-index: 1111;
    margin: auto;
    display:flex;
    justify-content: center;
    pointer-events:none;
}   

.polaroid {
    display: block; 
    width: inherit; 
    background: white;
    padding: 20px 20px 50px;
    box-shadow: 0 6px 8px rgba(0,0,0,.5);
}

.firstCard {
    width:100%;
    /* margin:10vh auto; */
    position: absolute;
    z-index: 1111
}

.secondCard {
    width:97%;
    /* margin:10vh auto; */
    position: absolute; top:-0.5em; 
    z-index: 1110
}

.thirdCard {
    width:94%;
    /* margin:10vh auto; */
    position: absolute; top:-1em;
    z-index: 1109
}

.fourthCard {
    width: 91%;
    /* margin:10vh auto; */
    position: absolute; top:-1.5em; 
    z-index: 1108
}

.results {

    margin: 30px auto;
    padding: 10px 20px;
    width:30vw;
    height: 60vh;
    text-align:center;
    position: relative;
    z-index: 1111;
    display:block;
    background: rgba(255, 255, 255, 0.5);
    border: 3px solid purple;
    color: purple;
}

h2 {
    font-size: 3em;  
}

h3 {
    font-size: 2em; 
}


/*ANIMATIONS*/

@keyframes swipeRight {
    0% {
    margin-left: 0;  
    transform: rotate(0deg);
    animation-timing-function: ease-in;
    }

    30% {
    margin-left: 100%;
    transform: rotate(15deg);
    animation-timing-function: ease-out;
        }
  
    100% {
    margin-left: 500%;
    transform: rotate(45deg);
    }
  }

@keyframes swipeLeft {
    0% {
    margin-right: 0;  
    transform: rotate(0deg);
    animation-timing-function: ease-in;
    }

    30% {
    margin-left: -100%;
    transform: rotate(-15deg);
    animation-timing-function: ease-out;
    }
  
    100% {
    margin-left: -500%;
    transform: rotate(-35deg);
    }
  }

.swipeRight {
    position: absolute;
    z-index: 1111;
    animation-name: swipeRight;
    animation-duration: 0.35s;
  }

.swipeLeft {
    position: absolute;
    z-index: 1111;
    animation-name: swipeLeft;
    animation-duration: 0.35s;
  }

@keyframes feedback {
    0% {
    font-size: 2em;  
    opacity:1;
    animation-timing-function: ease-in;
    }

    30% {
    font-size: 4em; 
    opacity:1;
    animation-timing-function: ease-out;
    }
  
    100% {
    font-size: 6em; 
    opacity:0;
    }
  }

.feedback-text {
    text-transform: uppercase;
    text-shadow: 0 20px 5px rgba(255, 255, 255, 0.5);
    position: relative;
    top:-100px;
    z-index: 1120;
    text-align: center; 
    animation-name: feedback;
    animation-duration: 0.8s;
}

@keyframes fadeout {
    0% {
    opacity:0.5;
    animation-timing-function: ease-in;
    }
  
    100% {
    opacity:0;
    }
  }

.feedback-win {
    background: green;
    animation-name: fadeout;
    animation-duration: 0.8s;
}
.feedback-lose {
    background: red;
    animation-name: fadeout;
    animation-duration: 0.8s;
}